<!--<!DOCTYPE html>-->
<!--<html lang="ko" xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
    <!--<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>-->
    <!--<title>Board Form</title>-->
    <!--<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>-->
    <!--<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">-->
    <!--<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-light_blue.min.css">-->
    <!--<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.min.css">-->
    <!--<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">-->
    <!--<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>-->
<!--</head>-->
<!--<body>-->
<!--<div th:replace="layout/header::header"></div>-->

<!--<div class="container">-->
    <!--&lt;!&ndash;<p class="h1" style="text-align: center"><strong>To Do List</strong></p>&ndash;&gt;-->
    <!--<br><br><br>-->
    <!--&lt;!&ndash;<div class="pull-right" style="width:100px;margin:10px 0;">&ndash;&gt;-->
        <!--&lt;!&ndash;<a href="/list" class="btn btn-default">등록</a>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--&lt;!&ndash;<br/><br/><br/>&ndash;&gt;-->
    <!--<div id="mainHide">-->
        <!--<table class="table table-striped table-bordered table-hover">-->
            <!--<thead>-->
            <!--<tr class="info">-->
                <!--<th class="col-md-1"><p class="h3" style="text-align: center">#</p></th>-->
                <!--<th class="col-md-2"><p class="h3" style="text-align: center">Status</p></th>-->
                <!--<th class="col-md-4"><p class="h3" style="text-align: center">Description</p></th>-->
                <!--<th class="col-md-2"><p class="h3" style="text-align: center">Created</p></th>-->
                <!--<th class="col-md-2"><p class="h3" style="text-align: center">Completed</p></th>-->
                <!--<th class="col-md-1"><p class="h3" style="text-align: center">Tool</p></th>-->
            <!--</tr>-->
            <!--</thead>-->
            <!--<tbody>-->
            <!--<tr th:each="board : ${todoList}">-->
                <!--<td th:text="${board.idx}" style="text-align: center"></td>-->
                <!--<td th:text="${board.status}" style="text-align: center"></td>-->
                <!--<td style="text-align: center"><a th:href="'/todolist?idx='+${board.idx}" th:text="${board.description}" ></a></td>-->
                <!--<td style="text-align: center" th:text="${board.createdDate} ? ${#temporals.format(board.createdDate,'yyyy-MM-dd')} : ${board.createdDate}"></td>-->
                <!--<td style="text-align: center" th:text="${board.completedDate} ? ${#temporals.format(board.completedDate,'yyyy-MM-dd')} : ${board.completedDate}"></td>-->
                <!--<td style="text-align: center">asdasd</td>-->
            <!--</tr>-->
            <!--</tbody>-->
        <!--</table>-->
    <!--</div>-->
    <!--<br/>-->
    <!--&lt;!&ndash;Pagination&ndash;&gt;-->
    <!--&lt;!&ndash;<nav aria-label="Page navigation" style="text-align:center;">&ndash;&gt;-->
    <!--&lt;!&ndash;<ul class="pagination"&ndash;&gt;-->
    <!--&lt;!&ndash;th:with="startNumber=${T(Math).floor(boardList.number/10)}*10+1, endNumber=(${boardList.totalPages} > ${startNumber}+9) ? ${startNumber}+9 : ${boardList.totalPages}">&ndash;&gt;-->
    <!--&lt;!&ndash;<li><a aria-label="Previous" href="/board/list?page=1">&laquo;</a></li>&ndash;&gt;-->
    <!--&lt;!&ndash;<li th:style="${boardList.first} ? 'display:none'">&ndash;&gt;-->
    <!--&lt;!&ndash;<a th:href="@{/todolist/list(page=${boardList.number})}">&lsaquo;</a>&ndash;&gt;-->
    <!--&lt;!&ndash;</li>&ndash;&gt;-->

    <!--&lt;!&ndash;<li th:each="page :${#numbers.sequence(startNumber, endNumber)}"&ndash;&gt;-->
    <!--&lt;!&ndash;th:class="(${page} == ${boardList.number}+1) ? 'active'">&ndash;&gt;-->
    <!--&lt;!&ndash;<a th:href="@{/todolist/list(page=${page})}" th:text="${page}"><span class="sr-only"></span></a>&ndash;&gt;-->
    <!--&lt;!&ndash;</li>&ndash;&gt;-->

    <!--&lt;!&ndash;<li th:style="${boardList.last} ? 'display:none'">&ndash;&gt;-->
    <!--&lt;!&ndash;<a th:href="@{/todolist/list(page=${boardList.number}+2)}">&rsaquo;</a>&ndash;&gt;-->
    <!--&lt;!&ndash;</li>&ndash;&gt;-->
    <!--&lt;!&ndash;<li><a aria-label="Next" th:href="@{/board/list(page=${boardList.totalPages})}">&raquo;</a></li>&ndash;&gt;-->
    <!--&lt;!&ndash;</ul>&ndash;&gt;-->
    <!--&lt;!&ndash;</nav>&ndash;&gt;-->
    <!--&lt;!&ndash; /Pagination &ndash;&gt;-->
<!--</div>-->

<!--<div th:replace="layout/footer::footer"></div>-->
<!--</body>-->
<!--</html>-->


<html>
<head>
    <title>Todo App</title>
    <!-- <link href='https://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'> -->
    <link rel="stylesheet" href="style.css" type="text/css" media="screen" charset="utf-8">
    <link rel="stylesheet" th:href="@{/css/2.css}"/>
</head>
<body>
<div class="container">
    <p>
        <label for="new-task">To Do List</label><input id="new-task" type="text"><button>Add</button>
    </p>

    <h3>Todo</h3>
    <ul th:each="board : ${todoList}" id="incomplete-tasks">
        <li><h4 style="width: 800px;" th:href="'/todolist?idx='+${board.idx}" th:text="${board.description}" ></h4><span><p th:text="${board.createdDate} ? ${#temporals.format(board.createdDate,'yyyy-MM-dd')} : ${board.createdDate}" ></p></span><input type="text"><div><button class="edit">Edit</button><button class="delete">Delete</button></div></li>
    </ul>

    <h3>Completed</h3>
    <ul id="completed-tasks">
        <li><input type="checkbox" checked><label>See the Doctor</label><input type="text"><button class="edit">Edit</button><button class="delete">Delete</button></li>
    </ul>
</div>

<script type="text/javascript" src="app.js"></script>

</body>
</html>