<br/>
<div class="container">


    <div class="row">

        <div class="col-md-3">
            <div class="panel panel-theme">
                <div class="panel-body">
                    Basic panel example
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="panel panel-theme">
                <div class="panel-heading">Panel heading without title  <span class="badge">1</span></div>
                <div class="panel-body">
                    Panel content
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="panel panel-theme">
                <div class="panel-heading">
                    <h3 class="panel-title">Panel title</h3>
                </div>
                <div class="panel-body">
                    Panel content
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="panel panel-theme">
                <div class="panel-body">
                    Panel content
                </div>
                <div class="panel-footer">Panel footer</div>
            </div>
        </div>

    </div>

    <div class="row">

        <div class="col-md-6">
            <div class="panel panel-theme">
                <!-- Default panel contents -->
                <div class="panel-heading">
                    <h3 class="panel-title">Panel Title</h4>
                </div>
                <div class="panel-body">
                    <p>Some default panel content here. Nulla vitae elit libero, a pharetra augue. Aenean lacinia bibendum nulla sed consectetur. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                </div>

                <!-- Table -->
                <table class="table">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Username</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>@twitter</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="col-md-6">
            <div class="panel panel-theme">
                <!-- Default panel contents -->
                <div class="panel-heading">
                    <h3 class="panel-title">Panel Title</h3>
                </div>
                <div class="panel-body">
                    <p>Some default panel content here. Nulla vitae elit libero, a pharetra augue. Aenean lacinia bibendum nulla sed consectetur. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                </div>

                <!-- List group -->
                <ul class="list-group">
                    <li class="list-group-item">Cras justo odio</li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Morbi leo risus</li>
                    <li class="list-group-item">Porta ac consectetur ac</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                </ul>
            </div>
        </div>

    </div>

    <div class="row">

        <div class="col-md-3">
            <div class="panel panel-theme panel-primary">
                <div class="panel-heading">Heading  <span class="badge">1</span></div>
                <div class="panel-body">Panel content</div>
            </div>
        </div>

        <div class="col-md-2">
            <div class="panel panel-theme panel-success">
                <div class="panel-heading">Heading  <span class="badge">2</span></div>
                <div class="panel-body">Panel content</div>
            </div>
        </div>

        <div class="col-md-2">
            <div class="panel panel-theme panel-info">
                <div class="panel-heading">Heading  <span class="badge">3</span></div>
                <div class="panel-body">Panel content</div>
            </div>
        </div>

        <div class="col-md-2">
            <div class="panel panel-theme panel-warning">
                <div class="panel-heading">Heading  <span class="badge">4</span></div>
                <div class="panel-body">Panel content</div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="panel panel-theme panel-danger">
                <div class="panel-heading">Heading  <span class="badge">5</span></div>
                <div class="panel-body">Panel content</div>
            </div>
        </div>

    </div>