<!DOCTYPE html>
<html>
<head>
    <title>Todo Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/form.css?}"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
          xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    </head>
    <style>
        .city {
            display: none
        }
    </style>
<body>

<div th:replace="layout/header::header"></div>

<div style="margin-top: 5%">
    <div id="loginbox">
        <div id="lgoinform">
            <div class="imgcontainer">
                <img th:src="@{/images/avatar.png}" alt="Avatar" class="avatar">
            </div>
            <form th:action="@{/login}" method="POST">
                <div class="container">
                    <p th:if="${param.error}" style="color: red">
                        아이디 또는 비밀번호를 확인하시길 바랍니다.
                    </p>
                    <p th:if="${param.logout}">
                        <b>로그아웃 되었습니다.</b>
                    </p>
                    <label for="uname"><b>Username</b></label>
                    <input id="username" type="text" placeholder="Enter Username" name="username" required>
                    <p class="vaild_error" id="login_id" style="margin: 3px 0 10px 0"></p>

                    <label for="psw"><b>Password</b></label>
                    <input id="password" type="password" placeholder="Enter Password" name="password" required>
                    <p class="vaild_error" id="login_pw" style="margin: 3px 0 10px 0"></p>

                    <button id="login" class="loginBtn" type="submit">Login</button>
                    <button type="button" class="cancelbtn" onclick="moveRegister()">Register</button>
                    <button onclick="document.getElementById('id01').style.display='block'" type="button"
                            class="forgotbtn" id="forgotbtnId">Forgot Account?
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal -->
<div id="id01" class="w3-modal">
    <div class="w3-modal-content w3-card-4 w3-animate-zoom">
        <header class="w3-container w3-blue">
                <span onclick="document.getElementById('id01').style.display='none'"
                      class="w3-button w3-blue w3-xlarge w3-display-topright">&times;</span>
            <h2>Forgot Account</h2>
        </header>

        <div class="w3-bar w3-border-bottom">
            <button class="tablink w3-bar-item w3-button" onclick="openCity(event, 'ForgotId')">Forgot Id?</button>
            <button class="tablink w3-bar-item w3-button" onclick="openCity(event, 'ForgotPW')">Forgot Password?
            </button>
        </div>

        <div id="ForgotId" class="w3-container city">
            <div class="container">
                <h3>아이디를 찾기 위해서는 이메일을 입력해야 합니다.</h3>
                <h4>가입된 이메일일 경우, 아이디가 이메일로 전송됩니다.</h4>
                <label for="uname"><b>Email</b></label>
                <input id="forgot_id_email" type="email" placeholder="Enter Email" name="email" required>
                <p class="vaild_error" id="forgot_email" style="margin: 3px 0 10px 0"></p>

                <button id="forgot_id_Btn" type="button">Send Email</button>
            </div>
        </div>

        <div id="ForgotPW" class="w3-container city">
            <div class="container">
                <div id="forgot_pw_view1">
                    <h3>비밀번호를 찾기 위해서는 아이디와 이메일을 입력해야 합니다.</h3>
                    <h4>가입된 아이디와 이메일일 경우, 인증번호가 이메일로 전송됩니다.</h4>
                    <label for="uname"><b>Username</b></label>
                    <input id="forgot_pw_id" type="text" placeholder="Enter Username" name="uname" required>
                    <p class="vaild_error" id="forgot_pw_id_vaild" style="margin: 3px 0 10px 0"></p>

                    <label for="uname"><b>Email</b></label>
                    <input id="forgot_pw_email" type="email" placeholder="Enter Email" name="email" required>
                    <p class="vaild_error" id="forgot_pw_email_vaild" style="margin: 3px 0 10px 0"></p>

                    <button id="forgot_pw_email_Btn" type="button">Send Email</button>
                </div>
            </div>
        </div>

        <div class="w3-container w3-light-grey w3-padding">
            <button class="w3-button w3-right w3-white w3-border"
                    onclick="document.getElementById('id01').style.display='none'">Close
            </button>
        </div>
    </div>
</div>
<!--  end Modal -->

<footer style="height: 6%">
    <div class="footer_title">
        <p> Copyright@2019 Donghun Lim, All Rights Reserved.</p>
    </div>
</footer>

<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/login.js?ver=27}"></script>
<script>
    document.getElementsByClassName("tablink")[0].click();
</script>
</body>
</html>