<!DOCTYPE html>
<html>
<head>
    <title>Todo Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/form.css?before}"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
          xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    </head>
    <style>
        .city {
            display: none
        }
    </style>
<body>

<div th:replace="layout/header::header"></div>

<div style="margin-top: 5%">
    <div id="loginbox">
        <div id="lgoinform">
            <div class="imgcontainer">
                <img th:src="@{/images/lock.png}" alt="Avatar" class="avatar2">
            </div>
            <div class="container">
                <div th:if="${error}">
                    <div class="alert alert-danger">
                        <span th:text="${error}" style="color: red"></span>
                    </div>
                </div>
                <input type="hidden" id="token" name="token" th:value="${token}"/>
                <br>
                <label for="uname"><b>New Password </b></label>
                <input id="forgot_pw_new" type="password" placeholder="Enter Password" name="uname" required>
                <p class="vaild_error" id="forgot_pw_new_vaild" style="margin: 3px 0 10px 0"></p>

                <label for="uname"><b>Confirm New Password</b></label>
                <input id="forgot_pw_new_check" type="password" placeholder="Enter Confirm Password" name="password"
                       required>
                <p class="vaild_error" id="forgot_pw_new_check_vaild" style="margin: 3px 0 10px 0"></p>

                <button id="forgot_pw_new_Btn" type="button">Reset Password</button>
            </div>
        </div>
    </div>
</div>


<footer style="height: 6%">
    <div class="footer_title">
        <p> Copyright@2019 Donghun Lim, All Rights Reserved.</p>
    </div>
</footer>

<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/login.js?ver=129}"></script>
</body>
</html>