<!DOCTYPE html>
<html>
<head>
    <title>Todo Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/form.css}" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <meta name="_csrf" th:content="${_csrf.token}">
    <meta name="_csrf_header" th:content="${_csrf.headerName}">
    <html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
          xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
</head>
<body>

<div th:replace="layout/header::header"></div>

<div style="margin-top: 5%; margin-bottom: 5%">
    <div id="loginbox">
        <div id="lgoinform">
            <div class="imgcontainer">
                <img th:src="@{/images/avatar.png}" alt="Avatar" class="avatar">
            </div>
            <form th:action="@{/login}" method="POST">
                <div class="container">
                    <label for="uname"><b>Username</b></label>
                    <input id="username" type="text" placeholder="Enter Username" name="username" required>

                    <label for="psw"><b>Password</b></label>
                    <input id="password" type="password" placeholder="Enter Password" name="password" required>

                    <button id="login" type="submit">Login</button>
                </div>
            </form>
            <div class="container" style="background-color:#f1f1f1">
                <button type="button" class="cancelbtn" onclick="moveRegister()">Register</button>
            </div>
        </div>
    </div>
</div>

<footer style="height: 6%">
    <div class="footer_title" style="">
        <p> Copyright@2019 Donghun Lim, All Rights Reserved.</p>
    </div>
</footer>

<script>
    function moveRegister() {
        location.href = "/register";
    }
</script>
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/list.js?ver=<%=System.currentTimeMillis()%>}"></script>

</body>
</html>